@import "../../node_modules/bulma/bulma.sass";

// An example of the power of CSS variables (aka custom properties)
.some-ui-component {
  // Will be computed to be 1rem when viewport width is less than 1200px
  // Will be 2rem when viewport width is equal to or greater than 1200px
  margin-bottom: var(--some-variable);
}

// Given the way CSS cascade works you can define a variable after it's used and
// it will still work as long as its specificity is high enough (To be clear
// this is not variable hoisting). Learn how the cascade works kids!
:root {
  --some-variable: 1rem;

  // When the viewport width is at least 1200px `--some-variable` will be changed
  // to 2rem and margin-bottom on .some-ui-component will be AUTOMATICALLY updated
  @media (min-width: 1200px) {
    --some-variable: 2rem;
  }
}
