doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title Hello World
    //- meta(name='description', content='')
    //- link(rel='canonical', href='https://example.com')
    //- meta(name='robots', content='noindex nofollow')

    link(rel='stylesheet', href='_styles/main.scss')
  body
    .hero.is-medium.is-primary.is-bold
      .hero-body
        .container
          h1.title.is-1 Hello World
          p.subtitle Lorem ipsum dolor sit amet.

    script(src='_scripts/main.js')
